@import '../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
}

.button-after-table {
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
    float: right;
}