@import '../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
}

iframe {
    display: block;
    background: #0000;
    border: none;
    height: 100vh;
    width: 100%;
}


nb-card {
      min-width: 18rem;
    }