<h1>ok</h1>
<!-- <nb-card>
    <iframe src="https://play.grafana.org/d/72dd6e4d-d1c2-4294-bfce-3554756e393c/basic-panel-diffing-example?orgId=1&from=2025-11-02T06:28:48.844Z&to=2025-11-02T12:28:48.844Z&timezone=Africa%2FLubumbashi&viewPanel=panel-2" frameborder="0"></iframe>
</nb-card> -->
<!-- <nb-card>
<iframe src="http://play.grafana.org/d-solo/mas79bx/game-dashboard-wip?orgId=1&from=2025-11-02T05:31:37.024Z&to=2025-11-02T11:31:37.024Z&timezone=utc&panelId=panel-2&__feature.dashboardSceneSolo=true&allow_embedding=true&disable_sanitize_html=true" width="450" height="200" frameborder="0"></iframe>
</nb-card> -->


<!-- <nb-card [size]="'medium'">
      <nb-card-header>List inside nb-card-body</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let fruit of fruits">
            {{ fruit }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
    <nb-card [size]="'medium'">
      <nb-card-header>List inside nb-card</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let fruit of fruits">
          {{ fruit }}
        </nb-list-item>
      </nb-list>
    </nb-card> -->